 .header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    z-index: 999;
}
.header__left{
    display: flex;
}
.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: gray;
    align-items: center;
    background-color: #eef3f8;
    height: 22px;
}
.header__search > input {
    outline: none;
    border: none;
    background: none;
}  
.header__right{
    display: flex;
    justify-content: space-evenly;
    border-bottom:0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;

}